.text {
    background: rgba(122, 122, 101, 0.39);
}

.list-item {
   list-style: none; 
   display: flex;
   min-height: 70px;
   width: 100%;
   justify-content: space-between;
   margin-bottom: 10px;
   border: 1px solid #000;
}



.data-item {
    width: 50%;
}

.list-group {
    width: 50%;
}

.list-group > div:nth-child(odd) {
    padding: 5px;
    text-align: left;
}

.list-group > div:nth-child(even) {
    padding: 5px;
    text-align: right;
    background-color: rgb(146, 175, 92);
}